@import "./variables";

.container__contacto {
  background-image: url(https://i.ytimg.com/vi/R9mXtzn8meE/maxresdefault.jpg);
  background-position: center;
  background-size: cover;
}

.formulario {

  background-color: $gris-claro;

  &__txtArea {
    height: 20vh;
  }
  
  &__btn {
    width: 50%;
  }

}

