@import "./variables";

.container__contacto {
  @include background;
}

.formulario {

  background-color: map-get($grises, medio);

  &__txtArea {
    height: 20vh;
  }
  
  &__btn {
    width: 50%;
  }

}



