$blanco-pcia:#F6F6F5;
$gris-claro: #EDEEEB;
$gris-medio: #E3E4E3;
$gris-oscuro: #C7C6CA;
$negro-pcia: #3B4041;


@mixin background {
    background: url(https://i.ytimg.com/vi/R9mXtzn8meE/maxresdefault.jpg);
    background-position: center;
    background-size: cover;    
}