$blanco-pcia:#F6F6F5;
$negro-pcia: #3B4041;

$grises: (
    claro: #EDEEEB,
    medio: #E3E4E3,
    oscuro: #C7C6CA,
);


@mixin background {
    background: url(https://i.ytimg.com/vi/R9mXtzn8meE/maxresdefault.jpg);
    background-position: center;
    background-size: cover;    
}

@mixin clntImg {
    height: 271px;
    width: 271px;
    transition: all 0.2s ease;
    margin-bottom: 50px;
}